.image {
    background-image: url(./promo.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 94%, 76% 97%, 19% 99%, 0 100%, 0% 20%);
    height: 40rem;
    width: 92.5rem;
    filter: opacity(85%);
}